img {
    padding: 8px;
    height: 100px;
    width: auto;
    &:hover {
        filter: brightness(0.9);
        cursor: pointer;
    }
    @media (max-width: 600px) {
        height: 60px;
    }
}

.container {
    padding: 16px;
}

button {
    margin: 16px;
}