.player {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    opacity: 0.75;
    width: 90px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    span {
        font-size: 16px;
    }

    img {
        height: 50px;
        padding: 10px;
        width: auto;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange;
}